body{
    background-color: rgb(51, 51, 51);
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
 
  form input[type=text],
  form input[type=email],
  form input[type=password] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
  }
  

  form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form input[type=submit]:hover {
    background-color: #3e8e41;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  form .error {
    color: red;
    margin-bottom: 10px;
  }
  
  
  form .success {
    color: green;
    margin-bottom: 10px;
  }